.modal-backdrop {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.5);

  .modal-content {
    position: absolute;
    z-index: 999;

    background-color: #181818;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    .modal-close {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      opacity: 0.75;
      color: var(--main-yellow);
      outline: none;

      &:hover {
        opacity: 1;
      }
    }
  }
}
