.card {
  position: relative;
  display: grid;
  place-content: center;

  .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.15s;
    position: absolute;
  }

  .back {
    transition: all ease-in 0.15s;
    transition-delay: 0.2s;
  }

  .flipped {
    .front {
      transform: rotateY(0deg);
      transition-delay: 0.15s;
    }
    .back {
      transform: rotateY(90deg);
      transition-delay: 0s;
    }
  }

  img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    // opacity: 0.25;
    display: block;
    border: 2px solid #fefefe;
    border-radius: 10px;
  }

  .back {
    opacity: 0.25;
    transition-delay: 0;
    transition: all 0s;

    &:hover {
      opacity: 0.35;
    }
  }
}

@media screen and (max-width: 1280px) {
}
