.application-wrapper {
  width: 100%;
  height: 100vh;
  padding: 1rem 2rem;

  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 1fr min-content;

  .sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .app-content {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;

    .application-header {
      font-family: var(--main-font) !important;

      background: -webkit-linear-gradient(var(--main-yellow), #ffffff);
      // background: -webkit-linear-gradient(
      //   var(--main-yellow),
      //   var(--sub-yellow)
      // );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .card-grid {
      width: 100% !important;
      margin-top: 2rem;
      padding: 0 10%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.25rem;
    }
  }

  .turns-counter {
    height: 100%;
    margin-top: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;

    span {
      font-family: var(--main-font);
    }

    .turn-text {
      position: absolute;
      width: 100%;
      height: 100%;
      display: grid;
      place-content: center;
      opacity: 0.2;
      font-size: 4.2rem;
    }

    .turn-number {
      font-size: 2rem;
      height: 100%;
      display: grid;
      place-content: center;
      transform: translateY(-5px);
    }
  }
}

.footer {
  grid-column: 1 / 3;
}

@media screen and (max-width: 960px) {
}
