.App {
  max-width: 860px;
  margin: 2rem auto;

  .application-header {
    font-family: var(--main-font) !important;

    background: -webkit-linear-gradient(var(--main-yellow), var(--sub-yellow));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .card-grid {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
  }
}
