@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background: #121212;
  color: #fefefe;
}

/* SPECIAL FONT IMPORT */
@font-face {
  font-family: "CHOPSIC";
  src: url("../../public/assets/fonts/Chopsic.otf") format("opentype");
}
