@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* variables */
  --main-bg: #050505;
  --sub-bg: #2f2e2c;
  --main-yellow: #ffc40a;
  --sub-yellow: #f8de7e;
  --main-blue: #8ab9f1;
  --sub-blue: #689bf1;
}

body {
  font-family: "Kanit", sans-serif;
  text-align: center;
  background: #050505;
  color: #ffc40a;
}
