.card {
  position: relative;
  display: grid;
  place-content: center;
  aspect-ratio: 1;
  min-width: 120px;
  min-height: 120px;

  .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.15s;
    position: absolute;
  }

  .back {
    transition: all ease-in 0.15s;
    transition-delay: 0.2s;
  }

  .flipped {
    width: 100%;
    height: 100%;
    .front {
      transform: rotateY(0deg);
      transition-delay: 0.15s;
    }

    .back {
      transform: rotateY(90deg);
      transition-delay: 0s;
    }
  }

  .no-flip {
    width: 100%;
    height: 100%;
    .front {
      opacity: 0.75;
    }

    .back {
      cursor: pointer;

      &:hover {
        transition: transform 0.1s ease-in;
        transform: scale(0.9);
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    display: block;
    border: 2px solid #fefefe;
    border-radius: 10px;
  }

  .back {
    opacity: 0.25;

    &:hover {
      opacity: 0.35;
    }
  }
}

.matched {
  .flipped {
    .front {
      opacity: 1;
    }
  }

  .no-flip {
    .front {
      opacity: 0.75;
    }
  }
}

@media screen and (max-width: 1280px) {
}
