.decks-wrapper {
  .decks {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.75rem;
    gap: 0.5rem;

    .deck {
      width: 100%;
      padding: 1rem 0.75rem;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--sub-bg);

      .col {
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: var(--main-font);

        .deck-name {
          font-size: 1.2rem;
        }

        .deck-count {
          font-size: 1.5rem;
        }
      }

      .image {
        width: 60px !important;
        height: 60px !important;
        background-color: var(--main-yellow);
        border-radius: 10px;
      }
    }

    .logout {
      opacity: 0.5;
    }
  }
}
