.sidebar {
  grid-column: 1/2;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;

  display: grid;
  grid-auto-flow: column;
  grid-template-rows: min-content 1fr min-content;

  text-align: center;

  .sidebar-title {
    position: relative;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    font-size: 1.5rem;

    font-family: var(--main-font);

    border-bottom: 2px solid gradient(#fff, #dedede);

    &::before {
      content: "";
      position: absolute;
      left: 20%;
      bottom: -4px;
      height: 4px;
      border-radius: 15px;
      width: 60%; /* or 100px */
      border-bottom: 4px solid #101010;
      background: linear-gradient(
        to right,
        var(--main-yellow),
        var(--sub-yellow)
      );
      opacity: 1;
      filter: blur(50px);
    }
  }

  .content {
    margin-top: 0.5rem;

    overflow-y: scroll;

    .toggle-options {
      display: flex;
      flex-direction: column;

      .option {
        box-sizing: border-box;
        cursor: pointer;
        width: 100%;
        padding: 1rem 0;
        border-radius: 15px;

        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-top: 3px solid rgba(255, 196, 10, 0.5);
        border-right: 3px solid rgba(255, 196, 10, 0.75);
        border-left: 3px solid rgba(255, 196, 10, 0.75);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        &:hover {
          background-color: #252525;
        }

        .nav-header {
          cursor: pointer;
          position: relative;
          width: 100%;

          .option-text {
            font-family: var(--main-font);
            font-size: 1.2rem;
            opacity: 0.8;

            -webkit-user-select: none;
            -webkit-touch-callout: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          &:hover {
            svg {
              opacity: 1 !important;
            }

            .option-text {
              opacity: 1;
            }
          }

          svg {
            width: 32px;
            height: 32px;
          }

          svg:first-child {
            position: absolute;
            top: -0.35rem;
            left: 5%;
            opacity: 0.6;
          }

          svg:last-child {
            position: absolute;
            top: -0.35rem;
            right: 5%;
            opacity: 0.6;
          }
        }

        &:last-child.closed {
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          border-bottom: 2px solid rgba(255, 196, 10, 0.75);
        }
        &:last-child.open {
          border-top: none;
          border-top: 3px solid rgba(255, 196, 10, 0.75);
        }
      }

      .open {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom: 3px solid rgba(255, 196, 10, 0.5);

        .nav-header {
          transition: all 0.075s ease-in;
          svg {
            animation: svgUp 0.4s forwards;
            transform: rotate(180deg);
          }
        }

        &:hover {
          background-color: rgba(255, 196, 10, 0.05);
        }
      }

      .closed {
        .nav-header {
          transition: all 0.075s ease-in;
          svg {
            animation: svgDown 0.4s forwards;
            transform: rotate(180deg);
          }
        }
        &:hover {
          background-color: rgba(255, 196, 10, 0.15);
        }
      }
    }
  }
}

@media screen and (max-width: 1420px) {
  .sidebar {
    width: 320px;
  }
}

@media screen and (max-width: 1120px) {
  .sidebar {
    width: 280px;
  }
}

@media screen and (max-width: 760px) {
  .sidebar {
    width: 260px;
  }
}

@keyframes svgUp {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(60deg);
  }
  40% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(120deg);
  }
  80% {
    transform: rotate(150deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes svgDown {
  0% {
    transform: rotate(180deg);
  }
  20% {
    transform: rotate(240deg);
  }
  40% {
    transform: rotate(270deg);
  }
  60% {
    transform: rotate(300deg);
  }
  80% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
